@font-face{
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Bold', sans-serif;
    src: url('../fonts/roboto-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto-Italic', sans-serif;
    src: url('../fonts/roboto-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Youtube-Sans-Bold';
    src: url("../fonts/youtube-sans-bold.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

html {
    /* Fonts */
    --font-header:'Youtube-Sans-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-body:'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-italic: 'Roboto-Italic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-bold: 'Roboto-Bold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    /* Colors */
    --background-color: #FFFFFF; 
    --accent-color: #FF0000; 
    --text-color: #000000;

    font-size: 18px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{ 
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    font-family: var(--font-body);
    font-size: 20px;
    color: var(--accent-color);
    text-align: center;
    display: block;
}

h1{
    border-radius: 4px;
    font-size: 48px;
    padding: 15px;
    margin: 8px;
    font-family: var(--font-header);
    color: #282828;
    letter-spacing: -3px;
}

h2 {
    font-size: 30px;
    font-family: var(--font-bold);
    color: var(--accent-color);
}
h3{
    display: block;
    font-family: var(--font-bold);
    font-size: 24px;
}

p {
    font-family: var(--font-body);
    margin-bottom: 10px;
}

li {
    font-family: var(--font-body);
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 0, 20px;
}

.button-links button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #727272;
    font-family: var(--font-bold);
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
  }

  .button-links button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
  }

  
.casestudy {
    padding: 20px;
}


.container {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 10px;
    margin-right: 500px;
    margin-left: 500px;
}

header img {
    height: 50px;
    margin: 0 5px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

video{
    width: 40%;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    border-radius: 5px;
}


@media (width <= 600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    video{
        width: 90%;
    }

}